.App {
  text-align: center;
  .App-header {
    background: linear-gradient(#ffffff, rgb(223, 244, 250));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #0c3e47;
    font-size: 20px;
  }
  .board-row {
    .square {
      background-color: #ffffff04;
      border-top: none;
      border-right: none;
      border-color: #7272722a;
      float: left;
      font-size: 50px;
      font-weight: bold;
      line-height: 34px;
      height: 100px;
      margin-right: -1px;
      margin-top: -1px;
      padding: 0;
      text-align: center;
      width: 100px;
    }
    .square:hover {
      -webkit-transition: background-color 0.5s ease;
      transition: background-color 0.5s ease;
      background-color: #0d3a42;
      cursor: pointer;
    }
    .square:nth-child(1) {
      border-left: none;
    }
    .square:focus {
      outline: none;
    }
    [data-btnName="X"] {
      color: #3989d4;
    }
    [data-btnName="O"] {
      color: #39bcd4;
    }
  }
  .board-row:nth-child(3) {
    .square {
      border-bottom: none;
    }
  }
  .game {
    display: flex;
    flex-direction: row;
    .game-board {
      width: 100%;
    }
    .game-info {
      li {
        list-style-type: none;
      }
      ul{
        padding: 0;
      }
      margin-left: 20px;
      .status {
        margin-bottom: 10px;
      }
    }
  }
  .movesBtn {
    font-weight: bold;
    background-color: #39bcd4;
    border: solid #ddd 1px;
    border-radius: 8px;
    color: #ddd;
    width: 100px;
    height: 38px;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #0d3a42;
    color: #ddd;
  }
}
