.App {
  text-align: center;
  .App-header {
    border: 1px solid #79cadc;
    padding: 40px 30px;
    margin: 10px auto;
    min-width: 320px;
    max-width: 375px;
    height: 100vh;
    min-height: 600px;
    max-height: 600px;
    box-shadow: 1px 6px 30px 0 rgba(121, 202, 220, 0.4);
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    @media screen and (max-width: 600px) {
      padding: 0.5px;
    }
  }
  .board-row {
    .square {
      background-color: #ffffff04;
      border-top: none;
      border-right: none;
      border-color: #7272722a;
      float: left;
      font-size: 50px;
      font-weight: bold;
      line-height: 34px;
      height: 120px;
      margin-right: -1px;
      margin-top: -1px;
      padding: 0;
      text-align: center;
      width: 120px;
    }
    .square:hover {
      -webkit-transition: background-color 0.5s ease;
      transition: background-color 0.5s ease;
      background-color: #0d3a42;
      cursor: pointer;
    }
    .square:nth-child(1) {
      border-left: none;
    }
    .square:focus {
      outline: none;
    }
    [data-btnName="X"] {
      color: #3989d4;
    }
    [data-btnName="O"] {
      color: #39bcd4;
    }
  }
  .board-row:nth-child(3) {
    .square {
      border-bottom: none;
    }
  }
  .game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .game-board {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .game-info {
      padding: 20px;
      font-size: 2rem;
      font-weight: bolder;
      color: #314e53;
      li {
        list-style-type: none;
      }
      ul {
        padding: 0;
      }
      .status {
        margin-bottom: 100px;
      }
    }
  }
  .movesBtn {
    font-weight: bold;
    background-color: #39bcd4;
    border: solid #ddd 1px;
    border-radius: 8px;
    color: #ddd;
    width: 100px;
    height: 38px;
  }
  footer {
    font-size: 1rem;
    color: #235f69;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #79cadc;
    box-shadow: 1px 6px 30px 0 rgba(121, 202, 220, 0.4);
    border: 1px solid #79cadc;
  }
}
